@{
    ViewData["Title"] = "Контакты";
}
    <div class="container">
        <h1 class="col px-md-5 p-2">Контакты</h1>
        <h3>Телефон: 8 000 000 00 00</h3>
        <h3>Адрес: 123456, Россия, Москва, Проспект успеха, 150</h3>
        <h3>Часы работы: 8:00-22:00</h3>
    </div>